---
const { title, description, icon, link } = Astro.props;
---
<a href={link} class="project-tile">
    {icon && <img src={icon} alt={title} />}
    <h2 class="text-center font-bold">{title}</h2>
    <p class="text-center">{description}</p>
</a>
