---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MetaTag from "../components/MetaTag.astro";
const { title, description, tags } = Astro.props;
const meta = {
    title: "${title} | KTrain5369",
    description: "${description}",
    tags: "${tags}"
}
---
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <MetaTag {...meta} />
    <title>{title}</title>
    <meta name="description" content={description}>
</head>
<body class="h-full m-0 flex flex-col bg-gradient-to-br from-gray-900 to-gray-800 text-white">
    <Header />
    {Astro.slots.default}
    <Footer />
</body>
</html>
