---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MetaTag from "../components/MetaTag.astro";
import { getCurrentFormattedDate } from "../utils/FormatDate";
import "../styles/global.css";

const { title, description, tags, publishDate, author } = Astro.props;
const meta = {
    title: `${title} (Blog) | KTrain5369`,
    description: `${description}`,
    tags: `${tags}, blog`
};
---
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <MetaTag {...meta} />
    <title>{title} (Blog) | KTrain5369</title>
    <meta name="description" content={description ? description : "A blog post by KTrain5369"}>
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body class="h-full m-0 flex flex-col bg-gray-900 text-white">
    <Header />
    <main class="flex-1 flex flex-col items-center justify-center p-4 sm:p-8 lg:p-12">
        <div class="bg-gray-700 rounded-lg shadow-lg p-4 sm:p-6 lg:p-8 max-w-full sm:max-w-lg lg:max-w-3xl w-full">
            <h1 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-5">{title}</h1>
            <p class="text-xs sm:text-sm text-gray-400 mb-4 sm:mb-5">Published on {getCurrentFormattedDate(publishDate)}</p>
            <p class="text-xs sm:text-sm text-gray-400 mb-4 sm:mb-5">Authored by <a class="text-blue-400 hover:text-blue-500" href={`/author/${author.id}`}>{author.data.name || "Unknown Author"}</a></p>
            <slot />
        </div>
    </main>
    <Footer />
</body>
</html>